{{> post-info post }}
<div class="m-4 color2 tcolor1 p-2">
  <h4>Comments:</h4>
</div>
{{> comments post }}

{{#if loggedIn}}
<form class="card m-4 comment-form">
  <h4 class="color2 tcolor1 p-2 m-0">Add a Comment</h4>

  <div class="card-body tcolor2 color1 login p-2">
    <textarea class="w-100 mb-2" name="comment-body"></textarea>
    <button class="bg-secondary tcolor2 font-weight-bold w-100 mybtn" type="submit">Submit</button>

  </div>
</form>
{{/if}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}